* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.formulario {
    width: 1000px;
    display: flex;
    margin: 50px auto;
    flex-direction: column;
}

select {
    padding: 5px;
}

input {
    padding: 3px;
    margin-bottom: 7px;
    outline: none;
}

.formContent a {
    visibility: hidden;
}

.formContent {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formContent.error a {
    visibility: visible;
    color: red;
}

.rowDiv {
    display: flex;
    gap: 7px;
}

.containerData {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #0000004d;
}